<div class="relative py-4 overflow-hidden md:-rotate-[6deg]  md:-mx-8 my-2">
  <div class="marquee-strip bg-linear-to-r from-brand-pink to-brand-accent">
    <div class="marquee-content">
      @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track i) {
        <span class="marquee-item text-black font-semibold text-sm md:text-base whitespace-nowrap px-8">
          We simplify media buying with smart data, automation, and collaboration to maximize ROI, boost execution, and measurable impact.
        </span>
      }
    </div>
  </div>
</div>

<div class="relative py-4 overflow-hidden md:rotate-[6deg] md:-mx-8 -mt-4 mb-2 md:-translate-y-26">
  <div class="marquee-strip marquee-reverse bg-linear-to-r from-brand-accent to-brand-pink">
    <div class="marquee-content-reverse">
      @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track i) {
        <span class="marquee-item text-black font-semibold text-sm md:text-base whitespace-nowrap px-8">
          Coming soon: Smarter media solutions for agencies and media owners!
        </span>
      }
    </div>
  </div>
</div>
